.map-page {
    width: 100%;
    height: calc(100vh - 64px);
    position: relative;
    overflow: hidden;
}

.map-controls {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 400px;
    z-index: 10;

    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 15px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.map-search {
    display: flex;
    gap: 5px;
}

.map-radius {
    display: flex;
    align-items: center;
    gap: 8px;
}


.map-container {
    width: 100%;
    height: 100%;
}